select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 2em;
    width:auto
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
  }
  
  option {
    padding: 10px;
    font-size: 16px;
  }
  
  option:hover {
    background-color: #f0f0f0;
  }